.barra-desplegable {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: var(--background);
  color: var(--color);
}
.barra-desplegable:not(.dark) { /*Light Mode, and navbar */
  --background: #1c1b2075;
  --color:#F5F7FA;
  --sectionBackground: #1c1b2057;
  --borderColor: #0000006e;
  --text1:#F5F7FA;
  --text2:#E6E9ED;
  --shadow:#1C1B20;
  --iconColor:#02d914;
}
.perfil {  
  font-family: 'Big Shoulders Text', cursive; 
  margin:0;
  padding:0;
  font-family: sans-serif;
  background: #000000e5;
}
.funciones { /*Adjust size, login container*/
  position: absolute;
  text-align: center;
  top: 45%;
  left: 50%;
  width: 10vw;
  max-width: 400px;
  min-width: 280px;
  height: auto;
  min-height: 400px;
  padding: 32px 16px;
  transform: translate(-50%, -50%);
  background: #4e4e4e65;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border: 3px solid #aad1aa33;
  border-radius: 10px;
}
.funciones{
    width: 65vw;
    max-width: 58vw;
    min-width: 90px;
    padding: 16px 4px;
    top: 55%;
    height: auto;
  }
.funciones h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #ffffff;
  text-align: center;
}
.funciones form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 1px;
  letter-spacing: 4px;
  border-radius:10px;
  border: 2px solid #02d914b9;
  
}

.funciones a:hover { /*hover box effect*/
  background: #02d914; 
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #02e915,
              0 0 25px #00d812,
              0 0 50px #00eb14,
              0 0 100px #00d612;
}
.texto {
  text-align: center;
  color:#ffffff;
}

.logousuario {
  width: 120px;
  height: auto;
  display: block;
  margin: 0 auto;
  
}