@charset "UTF-8";
body {
  font-family: 'Big Shoulders Text', cursive;
  
}
.clip {
  z-index: 2;
  position: fixed;
  bottom: 85%;
  left: 3rem;
  width: 0rem;
  height: 0rem;
  border-radius: 100%;
}
.clip.anim {
  -webkit-animation: open 1.5s ease-in;
          animation: open 1.5s ease-in;
}
@-webkit-keyframes open {
  0% {
    bottom: 85%;
    left: 3rem;
    width: 0rem;
    height: 0rem;
    -webkit-clip-path: circle(0rem at center);
            clip-path: circle(0rem at center);
  }
  100% {
    bottom: calc(-250vmax + 3rem);
    left: calc(-250vmax + 3rem);
    width: 500vmax;
    height: 500vmax;
    -webkit-clip-path: circle(100% at center);
            clip-path: circle(100% at center);
  }
}
@keyframes open {
  0% {
    bottom: 85%;
    left: 3rem;
    width: 0rem;
    height: 0rem;
    -webkit-clip-path: circle(0rem at center);
            clip-path: circle(0rem at center);
  }
  100% {
    bottom: calc(-250vmax + 3rem);
    left: calc(-250vmax + 3rem);
    width: 500vmax;
    height: 500vmax;
    -webkit-clip-path: circle(100% at center);
            clip-path: circle(100% at center);
  }
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: var(--background);
  color: var(--color);
}
.container:not(.dark) { /*Light Mode, and navbar */
  --background: #1c1b2075;
  --color:#F5F7FA;
  --sectionBackground: #1c1b2057;
  --borderColor: #0000006e;
  --text1:#F5F7FA;
  --text2:#E6E9ED;
  --shadow:#1C1B20;
  --iconColor:#02d914;
}
/*.container.dark { Dark Mode, and darkmode navbar 
  --background: #1C1B20;
  --color:#F5F7FA;
  --sectionBackground: #1C1B20;
  --borderColor: #1C1B20;
  --text1:#F5F7FA;
  --text2:#E6E9ED;
  --shadow:#1C1B20;
  --iconColor:#02d914;
} */

.container *[class*="card"] {
  background: var(--sectionBackground);
  color: var(--text1);
  box-shadow: 0 0 1rem -0.25rem var(--shadow);
}
.container *[class*="card"].inner-card {
  border: 1px solid var(--borderColor);
}
.container .darkmode {
  position: fixed;
  bottom: 77%;
  left: 1rem;
  font-size: 1.75rem;
  padding: 1rem;
  margin: 1px;
  border-radius: 100%;
  border-color: var(--iconColor) !important;
  box-shadow: 0 0 1rem -0.25rem var(--iconColor), inset 0 0 1rem -0.75rem var(--iconColor);
  color: var(--iconColor);
  cursor: pointer;
  transition: .25s -.05s;
}
.container .darkmode:hover {
  box-shadow: 0 0 1rem -0.25rem var(--iconColor), inset 0 0 1rem -0.25rem var(--iconColor);
}
.container .section-width {
  max-width: 800px;
  width: calc(100vw - 8rem);
}
.container .header {
  z-index: 1;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  border-bottom: 1px solid var(--borderColor);
  height: 4rem;
  line-height: 4rem;
  font-size: 1.75rem;
}
.container .header .section-width {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.container .header .logotext  {
  font-weight: 900;
  letter-spacing: 1.2rem;
  color: var(--iconColor);
}
 
@-webkit-keyframes flash {
  0%, 50%, 100% {
    color: var(--iconColor);
  }
  70%, 80% {
    color: var(--text1);
  }
}
@keyframes flash {
  0%, 50%, 100% {
    color: var(--iconColor);
  }
  70%, 80% {
    color: var(--text1);
  }
}
body .container .page {
  position: relative;
  margin: 2rem 0;
  padding: 2rem;
}
body .container .page:not(:last-child) {
  margin-bottom: 0rem;
}
body .container .page:target-within {
  border-color: var(--iconColor) !important;
}
body .container .page h1, body .container .page h2, body .container .page h3, body .container .page h4, body .container .page h5, body .container .page h6 {
  margin: 0;
}
body .container .page h1:last-child, body .container .page h2:last-child, body .container .page h3:last-child, body .container .page h4:last-child, body .container .page h5:last-child, body .container .page h6:last-child {
  margin-bottom: 0;
}
body .container .page h1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--borderColor);
}
body .container .page h1 a {
  text-decoration: none;
  font-weight: 200;
}
body .container .page h1 a:hover {
  font-weight: 400;
}
body .container .page p:last-child {
  margin-bottom: 0;
}
body .container .page a {
  color: var(--iconColor);
}
body .container .page a:not(:hover) {
  text-decoration: none;
}
body .container .page i {
  color: var(--text2);
  font-family: "Poly", sans-serif;
}
body .container .page ul {
  list-style: none;
  padding-left: 1rem;
}
body .container .page ul li:before {
  content: "•";
  margin-right: 1rem;
  color: var(--iconColor);
}
body .container .page > div[id] {
  position: absolute;
  top: calc(-6rem - 2px);
}
body iframe {
  top: unset !important;
  bottom: 9px;
  right: 25px !important;
}




 html {
  height: 100%;
}
body {
  margin:0;
  padding:0;
  font-family: sans-serif;
  background: #000000e5;
}

.login-box { /*Adjust size, login container*/
  position: absolute;
  text-align: center;
  top: 45%;
  left: 50%;
  width: 10vw;
  max-width: 400px;
  min-width: 280px;
  height: auto;
  min-height: 400px;
  padding: 32px 16px;
  transform: translate(-50%, -50%);
  background: #4e4e4e65;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border: 3px solid #aad1aa33;
  border-radius: 10px;
}

@media (max-width: 600px) { 
  .login-box {
    width: 65vw;
    max-width: 58vw;
    min-width: 90px;
    padding: 16px 4px;
    top: 55%;
    height: auto;
  }
}


.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #ffffff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input { /*box login data*/
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;

}
.login-box .user-box label { /*label login*/
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;

}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #ffffffa9;
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 1px;
  letter-spacing: 4px;
  border-radius:10px;
  border: 2px solid #02d914b9;
  
}

.login-box a:hover { /*hover box effect*/
  background: #02d914; 
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #02e915,
              0 0 25px #00d812,
              0 0 50px #00eb14,
              0 0 100px #00d612;
}

.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) { /*hover animation*/
  top: 0;
  left: -100%;
  width: 100%;
  height: 8px;
  background: linear-gradient(90deg, transparent, #9cff4b);
  animation: btn-anim1 5s linear infinite;
  animation: reverse btn-anim1 5s  reverse infinite;
}
.texto {
  text-align: center;
  color:#ffffff;
}

.logousuario {
  width: 120px;
  height: auto;
  display: block;
  margin: 0 auto;
  
}
.footer-end {
  position: absolute;
  bottom: -45%;
  left: 0;
  right: 0;
  padding: 1rem;
  text-align: center;
  font-size: 0.95rem;
  color: #e8fcebbd;
}
.editarperfil{ 
  padding-bottom: 10px;
  width: 50px;
  display: flex;
}
.sesion{
  font-size: xx-small 1px;
}
.arriba{
    border-radius:5px ;
    background-color: rgb(215, 209, 209);
}